body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #181c1f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
